body {
    margin: 0;
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    text-align: left;
    padding: 5px 6px;
    margin: 10px;
}

.logo img {
    width: 70px;
}

.navigation {
    margin: auto 0;
    padding: 5px 6px;
}

.navigation li {
    display: inline-block;
}

.navigation .fa {
    color: #006064;
    margin-right: 5px;
}

.navigation a {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: lowercase;
    color: #006064;
    text-decoration: none;
    padding: 0 5px;
}

.navigation .mobile {
    display: none;
}

#selection:hover a {
    color: #00979c;
    cursor: pointer;
}

#selection:hover .fa {
    color: #00979c;
}

.container {
    text-align: center;
    display: block;
    margin-bottom: 5em;
}
#selection-off{
    display:none;
}

.motto {
    display: flex;
    justify-content: center;
    padding: 0 6em;
}

.motto img {
    margin: auto auto;
    width: 40%;
    height: 40%;
}

.motto p {
    margin: auto auto;
}

.orange-container {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    background-color: #ffbf00;
    transform: skewY(-1deg);
    border-top-left-radius: 15px;
    justify-content: center;
    border-bottom-right-radius: 15px;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

.orange-container .paragraphs {
    transform: skewY(+1deg);
}

.no-container {
    background-color: white;
}

.cyan-container {
    margin-top: 4em;
    margin-bottom: 4em;
    padding-bottom: 1em;
    display: flex;
    background-color: #00979c;
    transform: skewY(+1deg);
    border-top-right-radius: 15px;
    justify-content: center;
    border-bottom-left-radius: 15px;
    width: 100%;
    padding-top: 1em;
    color: white;
}

.cyan-container .paragraphs {
    transform: skewY(-1deg);
}

hr {
    display: block;
    overflow: hidden;
    border: rgba(236, 236, 236, 0.664);
    border-style: inset;
    border-width: 1px;
}

button {
    margin: auto;
    padding: 1em 2em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ffbf00;
    border: none;
    border-radius: 3px;
    transition: .3s all ease;
    letter-spacing: .1rem;
    font-size: .85rem;
}

button:hover, :focus {
    background-color: #00979c;
}

.paragraphs {
    display: flex;
    padding: 5em;
    margin-bottom: 2em;
    justify-content: center;
}

.paragraphs li {
    list-style-type: none;
    max-width: 250px;
    min-width: 150px;
    margin: 0px 20px;
}

footer {
    display: flex;
    background-color: black;
    border-top-right-radius: -15px;
    justify-content: center;
    width: 100%;

    color: white;
}
footer .paragraphs {
    padding: auto 0;
}
footer a {
    display: block;
}

footer .fa {
    color: white;
    margin-right: 10px;
}

.footer li {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .container img {
        margin: auto auto;
        width: 60%;
        height: 60%;
    }
    .container {
        margin: 0;
    }
    .paragraphs {
        display: block;
        padding: 0 20px;
    }
    .motto {
        display: block;
        padding: 0 2em;
    }
    .paragraphs li {
        margin-top: 30px;
        text-align: center;
        max-width: 430px;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navigation .non-mobile {
        width: 70%;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        display: none;
        background-color: hsl(182, 77%, 59%);
    }
    .navigation .mobile {
        display: block;
    }
}
@media only screen and (max-width: 900px) {
    .paragraphs {
        display: block;
        padding: 3em 0;
    }
    .paragraphs li {
        margin-top: 30px;
        text-align: center;
        max-width: 700px;
    }
    .no-container{
        display: flex;
        justify-content:center;
    }
    
}