body {
    margin: 0;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

.login_login {
    top: 15%;
    font-size: 30px;
}

.login_form .login_links {
    position: absolute;
    top: 80%;
    left: 35%;
    font-size: 70%;
}


/* Logo-ul */

.logo {
    text-align: left;
    padding: 40px;
    margin: 15px;
    background: url(../img/logo-blue.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.logo:hover {
    background: url(../img/logo-orange.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.logo img {
    width: 70px;
}


/* Bara de navigare */

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigation {
    margin: auto 0;
    padding: 5px 6px;
}

.navigation li {
    display: inline-block;
}

.navigation .fa {
    color: #006064;
    margin-right: 5px;
}

.navigation a {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: lowercase;
    color: #006064;
    text-decoration: none;
    padding: 0 5px;
}

.navigation .mobile {
    display: none;
}

.selection {
    color: #006064;
}

.selection:hover {
    cursor: pointer;
}

.selection:hover a {
    cursor: pointer;
    color: #ffbf00;
}

.selection:hover .fa {
    cursor: pointer;
    color: #ffbf00;
}

.selection:hover .account {
    cursor: pointer;
    color: #ffbf00;
}


/* Container default */

.container {
    text-align: center;
    display: block;
    margin-bottom: 5em;
}


/* Butonul de menu pentru mobile */

#selection-off {
    display: none;
}


/* Motto-ul paginii */

.motto {
    display: flex;
    justify-content: center;
    padding: 0 6em;
}

.motto img {
    margin: auto auto;
    width: 40%;
    height: 40%;
}

.motto p {
    margin: auto auto;
    text-align: right;
    margin-left: 3em;
}


/* Container portocaliu */

.orange-container {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    background-color: #ffbf00;
    transform: skewY(-1deg);
    border-top-left-radius: 15px;
    justify-content: center;
    border-bottom-right-radius: 15px;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

.orange-container .paragraphs {
    transform: skewY(+1deg);
}


/* Container simply */

.no-container {
    background-color: white;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mention {
    display: block !important;
    text-align: center;
}


/* Container-ul albastru */

.cyan-container {
    margin-top: 4em;
    margin-bottom: 4em;
    padding-bottom: 1em;
    display: flex;
    background-color: #00979c;
    transform: skewY(+1deg);
    border-top-right-radius: 15px;
    justify-content: center;
    border-bottom-left-radius: 15px;
    width: 100%;
    padding-top: 1em;
    color: white;
}

.cyan-container iframe,
i {
    display: block;
}

.cyan-container iframe {
    height: 500px;
    position: relative;
    left: -50% !important;
    width: 500px;
    border: 3px #ffbf00 solid;
    margin: 2em auto !important;
    text-align: center!important;
    left: 0;
}

.cyan-container .paragraphs {
    transform: skewY(-1deg);
    padding: 0;
    padding-top: 1em;
    text-align: center;
    justify-content: center;
    display: flex;
}


/* Bara verticala/orizontala */

hr {
    display: block;
    overflow: hidden;
    border: solid rgb(255, 255, 255);
    border-width: 2px;
}


/* Buton default si input submit */

button {
    margin: auto;
    padding: 1em 2em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ffbf00;
    border: none;
    border-radius: 3px;
    transition: .3s all ease;
    letter-spacing: .1rem;
    font-size: .85rem;
}

.submit {
    margin: auto;
    padding: 1em 2em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ffbf00;
    border: none;
    border-radius: 3px;
    transition: .3s all ease;
    letter-spacing: .1rem;
    font-size: .85rem;
}

.submit:hover,
:focus {
    background-color: #00979c;
}

button:hover,
 :focus {
    background-color: #00979c;
}


/* Paragrafele din containere */

.paragraphs {
    display: flex;
    padding: 5em;
    font-size: 15px;
    margin-bottom: 2em;
    justify-content: center;
}

.paragraphs li {
    list-style-type: none;
    max-width: 250px;
    min-width: 150px;
    margin: 0px 20px;
}


/* Inca nu stiu cum sa fac altfel aici */

.paragraphss {
    display: flex;
    font-size: 15px;
    margin-bottom: 2em;
    justify-content: center;
}


/* Footer-ul */

footer {
    background-color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-bottom: 0;
    justify-content: center;
    width: 100%;
    color: white;
}

footer .paragraphs {
    padding: 3em 0;
    margin-bottom: 0;
}

footer .fa {
    color: white;
    margin-right: 10px;
}

.footer li {
    text-align: left;
    display: block;
}

.footer_contact {
    font-size: 12px;
    text-align: center;
    color: white;
}

.footer_contact a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.footer_contact p {
    margin-bottom: 0;
    padding: 0;
}


/* Link-urile de contact din footer */

.cont {
    margin: 1em 0em;
}

.cont i {
    margin-right: 3px;
    color: white;
}

.cont .fa {
    color: white;
}

.link {
    display: inline-block;
}


/* Butonul de navigatie pt cont */

.account {
    background: none;
    color: #006064;
    padding: 0;
    margin: 0;
    transition: none;
}

.account:hover {
    background: none;
}

#profile {
    width: 20px;
    height: auto;
    margin-right: 10px;
    border-radius: 13px;
}


/* Card-urile pentru animale */

.no-container .card {
    display: inline-block;
    min-width: 250px;
    min-height: 300px;
    max-width: 300px;
    max-height: 500px;
    margin: 10px 10px;
}

.primary {
    position: relative;
    color: white;
    width: 100%;
    height: 100%;
    width: 300px;
    height: 500px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: 5px #006064 solid;
}

.primary img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}

.primary .top-btns {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 8px;
    background: rgba(0, 0, 0, 0.411);
    padding: 10px;
    border-radius: 10px;
}

.primary .bottom-btns {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 8px;
    background: rgba(0, 0, 0, 0.411);
    padding: 10px;
    border-radius: 10px;
}

.bottom-btns p,
i {
    margin: 0;
    display: inline-block;
}

.top-btns p,
i {
    display: inline-block;
}

.top-btns p {
    margin: 0;
}

.primary .user-things {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 8px;
    background: rgba(0, 0, 0, 0.411);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-things p,
img {
    margin: 0;
    display: block;
}

.primary .photo-card {
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.photo-card img {
    width: 100%;
    height: 100%;
    border: 2px solid #00979c;
    border-radius: 100%;
}

.user-things p {
    box-sizing: border-box;
    padding: 3px;
    padding-left: 10px;
}

.primary:hover,
:focus {
    filter: contrast(80%);
    border-color: #ffbf00;
}


/* Pentru register - trebuie modificat */

.register_form {
    border-radius: 20px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 400px;
    height: 600px;
    margin: auto;
}

.register_register {
    position: absolute;
    top: 8%;
    left: 38%;
    font-size: 140%
}

.register_credentials {
    position: absolute;
    top: 23%;
    left: 28%;
    width: 40%;
}

.register_links {
    position: absolute;
    top: 90%;
    left: 30%;
    font-size: 80%;
}


/* Pentru telefoane mobile */

@media only screen and (max-width: 600px) {
    .container img {
        margin: auto auto;
        width: 60%;
        height: 60%;
    }
    .container {
        margin: 0;
    }
    .motto p {
        text-align: center;
        margin-left: 0em;
    }
    .paragraphs {
        display: block;
        padding: 0 20px;
    }
    .motto {
        display: block !important;
        padding: 0 2em;
    }
    .paragraphs li {
        margin-top: 30px;
        text-align: center;
        max-width: 430px;
    }
    .cyan-container iframe {
        width: 300px;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navigation .non-mobile {
        width: 70%;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        display: none;
        background-color: hsl(182, 77%, 59%);
    }
    .navigation .mobile {
        display: block;
    }
    footer li {
        display: block !important;
    }
}


/* Pentru tablete / display 4:3 */

@media only screen and (max-width: 1000px) {
    .paragraphs {
        display: block;
        padding: 0 20px;
    }
    .cyan-container iframe {
        left: 0!important;
    }
    footer {
        display: flex;
    }
    footer li {
        display: inline-block;
    }
    .no-container .card {
        display: flex;
    }
    .motto {
        display: flex;
        padding: 0 2em;
    }
    .paragraphs li {
        margin-top: 30px;
        text-align: center;
        max-width: 430px;
    }
    .no-container {
        display: flex;
        justify-content: center;
    }
}