body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-180deg, rgba(159, 216, 224, 0.082), rgba(241, 241, 241, 0.377));
}

.header {
    background-color: #f1f1f100;
    text-align: center;
    width: 100%;
    display: flex;
    position: relative;
}

#navbar {
    position: absolute;
    width: 90%;
    margin-top: 20px;
    text-align: center;
    margin-left: 4%;

}

#navbar #logo-small {
    width: 15%;
    position: relative;
    height: 15%;
    max-width: 150px;
    max-height: 80px;
    text-align: center;
    justify-content: center;
    float: left;
    transition: all .5s linear;
    top: 5px;
}

#navbar a:hover {
    background-color: #FFBF00;
    color: #006064;
}

#navbar p {
    font-size: 15px;
    color: #006064;
    top: 1px;
    position: relative;
}

.right-header {
    float: right;
    display: flex;
    transition: all .5s linear;
}

.right-header a {
    color: #006064;
    text-align: center;
    border-radius: 50px;
    margin-right: 30px;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
}
#menuBtn {
    border: none;
    background: none;
    float: right;
}
#menuBtn:active{
    background: #ff9e02;
    border-radius: 10px;
    color: #ffffff;
}
.fa-bars{
    color:#006064;
}

.dropdown-button {
    border: none;
    margin-left: 5px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    transition: background 250ms ease-in-out, transform 150ms ease;
}

.dropdown-button:hover, #dropdown-button:focus {
    background: #ff9e02;
}

.dropdown-button:focus {
    outline: 1px solid #fff;
    outline-offset: -1px;
}

i {
    display: inline-block;
    padding: 3px;
}
.arrow {
    border: solid #006064;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#user-panel .user-img {
    border-radius: 100%;
    border: solid 2px #006064;
    position: relative;
    top: 7px;
    right: 3px;
    width: 30px;
    height: 30px;
    background-image: url("../img/user-img.jpg");
    background-size: cover;
    margin-right: 5px;
}

#user-panel {
    padding-left: 5px;
    display: flex;
}

#user-panel img, p, button {
    display: inline-block;
}

.dropdown {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0px;
    right: 2px;
    padding: 18px;
    padding-top: 50px;
    text-align: center;
    background: #256d7023;
    width: 110px;
    max-width: 110px;
    border-radius: 14px;
    z-index: 1;
}

.dropdown-content a {
    color: #006064 !important;
    padding: 12px 16px 13px 12px;
    margin: 10px;
    text-decoration: none;
    width: 100%;
}

.dropdown-content a:hover {
    background-color: #ff9e02 !important;
    color: #006064 !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown:hover .dropdown-button {
    background-color: #ff9e02;
}

.content {
    margin: 13% 0 13% 0;
    position: absolute;
    width: 100%;
    display: block;
}


.menu {
    height: 100%;
    width: 300px;
    margin: 0;
    position:absolute;
    right: -300px;
    top: 0;
    transition: all .5s linear;
    text-align: center;
    background-color: #006064;
    display:none;
    
}

.is--open {
    right: 0px;
    display:block;
}
.mobile-header{
    display:none;
}
/* background: url("../img/illu.png") rgba(0, 0, 0, 0); */

@media only screen and (max-width: 850px) {
    .right-header {
        display: none;
    }
    .mobile-header {
        display: block;
    }
    #navbar #logo-small {
        width:20%;
        height: 20%;
    }
}