body {
    font-family: Arial, Helvetica, sans-serif;
}

.card_pet {
    width: 300px;
    height: 400px;
    border: 3px solid #00838F;
    border-radius: 10px;
    background: url("./img/cryingcat.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-size: 95%;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.553), 1px -1px 0 rgba(0, 0, 0, 0.553), -1px 1px 0 rgba(0, 0, 0, 0.553), 1px 1px 0 rgba(0, 0, 0, 0.553);
}

.pet_image:hover {
    cursor: pointer;
    filter: blur(20%);
    border: 3px solid #FFBF00;
    opacity: 0.7;
}

.pet_image i {
    color: #00838F;
}

.card_pet .pet_location {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    padding-right: 8px;
}

.pet_location p,
i {
    display: inline-block;
}

.card_pet .pet_date {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 4px;
    padding-right: 8px;
}

.pet_date p,
i {
    display: inline-block;
}

.card_pet .pet_user {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px;
    padding-left: 8px;
}

.pet_user p,
i {
    display: inline-block;
}