body {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.register_form {
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 400px;
    height: 600px;
    margin: auto;
}

.register_register {
    position: absolute;
    top: 8%;
    left: 38%;
    font-size:140%
}

.register_credentials {
    position: absolute;
    top: 23%;
    left: 28%;
    width: 40%;

}

.register_submit {
    position: absolute;
    top: 80%;
    left: 36%;
    color: white;
    border-radius: 50px;
    background: #00838F;
    background-size: 600%;
    width: 100px;
    height: 30px;
    font-size: 90%;
}

.register_submit:hover {
    cursor: pointer;
    color: black;
    background: #FFBF00;
}

.register_links {
    position: absolute;
    top: 90%;
    left: 30%;
    font-size: 80%;
}